#!/bin/bash

DELAY=$(( {{ sleep_time_min }} + RANDOM % ({{ sleep_time_max }} - {{ sleep_time_min }} + 1) ))
echo "Starting application in $DELAY seconds..."
sleep $DELAY

# Navigate to the application directory
cd /app

# Start the Puma server
echo "Starting Puma server on port {{ app_port }}..."
exec bundle exec puma -C puma.rb -p {{ app_port }}
