#!/bin/bash

# Generate a random delay between the specified min and max
DELAY=$(( {{ sleep_time_min }} + RANDOM % ({{ sleep_time_max }} - {{ sleep_time_min }} + 1) ))
echo "Starting application in $DELAY seconds..."
sleep $DELAY

# Navigate to the application directory
cd /app

# Start the Puma server
echo "Starting Puma server..."
exec bundle exec puma -C puma.rb
